.radioButtonContainer {
  display: flex;
  justify-content: center;
}

.radioButton {
  margin: 0 10px;
  padding: 2px 5px;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
}

.cardContainer {
  width: 100vw;
  /*  display: flex;
  flex-wrap: wrap; */
}

.test{
  margin: 0;
}

.typeButtonGroup{
  
  display: flex;
  justify-content: center;
   color: whitesmoke; 
  
  .typeSelectButton{
    padding: 5px;
    margin: 0 5px;

    border: 2px;

    cursor: pointer;
    .onoff{
      width: 90%;
      height: 3px;
      box-shadow: 1px 1px 1px black;
      margin: 0 auto;
    }
    
  }
}
