.radioButtonContainer {
  display: flex;
  justify-content: center;
}

.radioButton {
  margin: 0 10px;
  padding: 2px 5px;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
}

.cardContainer {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
