@import "./styles/colors";

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: $darkYellow;
}

button {
  background-color: rgba($color: #000000, $alpha: 0.4);
  border-radius: 3px;
}

#head {
  padding: 10px;

  display: flex;
  justify-content: center;

  background-color: rgba($color: #000000, $alpha: 0.2);

  #centerDiv {
    .headCenterButtons {
      margin: 0 0.5rem;
      padding: 5px;

      width: 5rem;
      border-radius: 5px;
      border: 2px solid black;

      cursor: pointer;
    }
    display: flex;
    #holydaysButton {
      display: flex;
    }
  }
}
